html{
    font-family: serif;
    background: rgb(253, 254, 246);
    margin: 0;
}

.flexbox-grid{
    display: flex;
    gap: 40px;
    margin: 20px;
    color:black;
    background-color: aliceblue;
}

.photobackground{
    background-image: url(photo.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    padding: 150px 0;
    background-attachment: fixed;
    }

.align-right{
    text-align: right;
}